.body div {
    /*border-style: solid;
    border-color: white;*/
    text-align: center;
}

.body {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}

body,
html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-bottom: 10vh;
}

.main .article{
    width: 50vh;
    clear: both;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    opacity: 1;
    content: '';
    background: linear-gradient(45deg, black, white);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover::after {
    background: #fff;
}

.glow-on-hover:hover {
    color: black;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#settings {
    display: flex;
    align-self: flex-end;
    float: right;
    margin-right: 5vh;
}

#settingsImage:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    text-align: center;
    margin-bottom: 25px;
    font-size: smaller;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


/* second page */

.main2 {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10vh;
}

