* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-bg-color: black;
    --primary-color: #eee;
    --secondary-bg-color: #1C1D1F;
    --secondary-color: #989898;
    --title-color: orange;
    --default-border-radius: 5px;
}

input,
textarea {
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.displayNone {
    display: none;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}
footer {
    height: 3vh;
    width: 100vw;
}

header {
    height: 6vh;
    width: 100vw;
    padding: 0.4rem 0.8rem;
    display: flex;
    justify-content: space-between;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-right,
#settingsImage {
    cursor: pointer;
}

header img {
    max-width: 100%;
    max-height: 100%;
}
main {
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

/*********************************
--------------INDEX---------------
/*********************************/
.index-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.index-container article {
    text-align: center;
}

.index-title {
    width: 50%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/*********************************
-----------SECTIONS---------------
/*********************************/
.form,
.preview {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    width: 100%;
}

/* scrollbar settings */
.form::-webkit-scrollbar {
    display: none;
}

.form {
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: stretch;
}

section.form::-webkit-scrollbar {
    display: none;
}

/*********************************
-----------FORM SEC---------------
/*********************************/
#form {
    width: 75%;
}
.form {
    overflow-y: scroll;
}
section.form form {
    width: 100%;
}

section {
    width: 100%;
    padding: 1rem;
    background: var(--primary-bg-color);
    margin-bottom: 0.1rem;
}
.section-title {
    margin-bottom: 0.8rem;
    color: var(--title-color);
}

.section-description {
    margin-bottom: 0.8rem;
    color: var(--secondary-color);
}

/*----PERSONAL INFORMATION-----*/
.personal-information-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr auto 1fr 1fr;
    gap: 0 1rem;
    grid-template-areas: "title title" "job-title photo" "first-name last-name" "email phone" "date placeholder";
}
.birth-container,
.email-container,
.first-name-container,
.job-title-container,
.last-name-container,
.phone-container,
.placeholder-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.1rem;
}

.personal-information-section div input {
    padding: 0.5rem;
    margin-top: 0.2rem;
    border-radius: var(--default-border-radius);
}

.section-title-container {
    grid-area: title;
}
.first-name-container {
    grid-area: first-name;
}
.job-title-container {
    grid-area: job-title;
}
.photo-container {
    grid-area: photo;
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 0.2rem;
    margin-right: 5px;
}

.photo-container label {
    flex-grow: 1;
    color: orange;
}

.photo-container label:hover {
    color: white;
}

.photo-container:hover label {
    cursor: pointer;
}

.photo-icon-container {
    height: 100%;
    width: 30%;
    background-color: black;
}

.photo-icon {
    height: 100%;
    margin-right: 0.5rem;
}

.photo-container input {
    display: none;
}

.birth-container {
    height: 95%;
}

.last-name-container {
    grid-area: last-name;
}
.email-container {
    grid-area: email;
}
.phone-container {
    grid-area: phone;
}
.birth-container {
    grid-area: date;
}
.placeholder-container {
    grid-area: placeholder;
}

/*------------SUMMARY-----------*/
.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
    border-radius: var(--default-border-radius);
}
/*-------------SKILLS------------*/

/*----------ADD NEW section-----------*/
.add-new-section {
    padding: 0;
    margin-bottom: 1rem;
}
.add-new-section-button {
    background-color: var(--secondary-bg-color);
    border-radius: var(--default-border-radius);
    border-color: white;
    /* border-style: none; */
    box-sizing: border-box;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.add-new-section-button:focus,
.add-new-section-button:hover {
    opacity: 0.75;
}

#logo-right {
    transition: transform 0.7s ease-in-out;
}

#logo-right:hover {
    transform: rotate(360deg);
}

/*-------------NEW section------------*/

.new-section {
    background-color: var(--primary-bg-color);
}

.new-section-title input {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--title-color);
    font-size: 1.5em;
}
.new-section-description input {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--secondary-color);
    font-size: 1em;
}

/*********************************
-----------PREVIEW SEC------------
/*********************************/
.preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.canvas {
    aspect-ratio: 210 / 297;
    background-color: #fff;
    height: 100%;
}

.submit-button-container,
.submit-button-container-form {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}
.submit-button-container-form {
    right: 20px;
    margin-bottom: 2rem;
    display: none;
}

/* ------------------------------------------------- */
/* button css */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    opacity: 1;
    content: '';
    background: linear-gradient(45deg, black, white);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover::after {
    background: #fff;
}

.glow-on-hover:hover,
.glow-on-hover:hover a {
    color: black;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* media query */
@media only screen and (max-width: 1000px) {
    .preview {
        display: none;
    }
    .submit-button-container-form {
        display: block;
    }
}


.loader {
    background-color: transparent;
    height: 16px;
    left: 50%;
    margin-left: -(75px / 2);
    text-align: center;
    top: 50%;
    width: 75px;
    display: none;
}

.loader-ball {
    background-color: #ccc;
    border-radius: 16px;
    display: inline-block;
    height: 100%;
    width: 16px;
}

.loader-ball:first-child {
    animation: load1 1s ease-in-out infinite;
    animation-delay: -.32s;
}

.loader-ball:nth-child(2) {
    animation: load2 1s ease-in-out infinite;
    animation-delay: -.16s;
}
.loader-ball:last-child {
    animation: load3 1s ease-in-out infinite;
    animation-delay: -.32s;
}

@keyframes load1 {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0.66;
    }

    66% {
        opacity: 0.33;
    }

    100% {
        opacity: 0;
    }
}

@keyframes load2 {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0.66;
    }

    66% {
        opacity: 0.33;
    }

    100% {
        opacity: 0;
    }

}

@keyframes load3 {
    0% {
        opacity: 0.33;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0.33;
    }

    100% {
        opacity: 1;
    }

}

#test-pic{
    max-width: 100px;
    max-height: 150px;
    border-radius: 20px;
}