* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------- */
/* index page */

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}

footer{
    width: 100%;
    height: 4vh;
}

header{
    padding: 20px;
    z-index: 100;
    height: 10vh;
    width: 100%;
}

main {
    display: flex;
    height: 80%;
    flex: 1;
}

.index-main{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}

article{
    width: 50vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings{
    float: right;
}

/* ------------------------------------------------- */
/* cv generator page */

#logo{
    float: left;
}

.cv-main{
    flex-direction: row;
    align-items: stretch;
}

svg{
    background-color: white;
}

.cv-main .left, .right {
    flex: 1;
}

.left{
    display: flex;
    flex-direction: column;
    /* or space-between */
    justify-content: space-evenly;
    overflow-y:auto;
}

.left::-webkit-scrollbar{
    display: none;
}


/* debug */
/* .right{
    background-color: yellow;
}

.left{
    background-color: salmon;
} */





/* ------------------------------------------------- */
/* button css */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    opacity: 1;
    content: '';
    background: linear-gradient(45deg, black, white);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover::after {
    background: #fff;
}

.glow-on-hover:hover {
    color: black;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* media query */
@media screen-size {
    svg{
        display: none;
    }
}